In [8]:
import pandas as pd
import numpy as np
import random
import hashlib

# Função para gerar um nome único e realista
def gerar_nome_unico_realista(base, index):
    nome = f"{base}_{index}"
    hash_nome = hashlib.sha1(nome.encode()).hexdigest()[:4]  # Usando os primeiros 4 caracteres do hash SHA-1
    return f"{base}_{hash_nome}"

# Lista de nomes fictícios
nomes_ficticios = ["Alex", "Maria", "João", "Ana", "Pedro", "Julia", "Lucas", "Luana", "Felipe", "Carla"]

# Número de dados desejado
num_dados = 1000

# Gerando dados aleatórios
np.random.seed(0)  # Para garantir a reprodutibilidade
idades = np.random.choice(['10-12 anos', '13-15 anos', '16-18 anos'], size=num_dados, p=[0.3, 0.4, 0.3])
frutas = np.random.choice(['Maçã', 'Banana', 'Laranja'], size=num_dados, p=[0.3, 0.4, 0.3])
nomes_unicos_realistas = [gerar_nome_unico_realista(random.choice(nomes_ficticios), i) for i in range(num_dados)]

# Criando o DataFrame
dados_expandidos = pd.DataFrame({
    'Nome': nomes_unicos_realistas,
    'Idade': [random.choice(range(10, 13)) if faixa == "10-12 anos" else 
              (random.choice(range(13, 16)) if faixa == "13-15 anos" else 
               random.choice(range(16, 19))) for faixa in idades],
    'Faixa Etária': idades,
    'Fruta Preferida': frutas
})

dados_expandidos.head()

         Nome  Idade Faixa Etária Fruta Preferida
0  Julia_2bf2     15   13-15 anos          Banana
1  Pedro_75cc     17   16-18 anos            Maçã
2    Ana_dd99     13   13-15 anos          Banana
3  Carla_d08d     13   13-15 anos         Laranja
4    Ana_3f60     15   13-15 anos            Maçã

In [10]:
dados_expandidos.to_csv('dados_pesquisa_fruta_preferida.csv')